out/
build/
coverage/
dist/
node_modules/
.idea_modules/
.idea/
package-lock.json

examples/**/node_modules
example/**/package-lock.json
examples/**/build
examples/**/.cache
examples/**/tmp
examples/**/.mf

docs/.docusaurus
docs/build
docs/node_modules
docs/.env
